<h1>Ace Editor</h1>

<div class="row">
  <div class="col-md-4">Notes go here<br>You are currently at position (0,0) and the treasure is at (150, 100). Move the character to the treasure by using the <br>moveLeft( ), <br>moveRight( ),<br> moveUp( ),<br> and moveDown( ) functions.<br>
    Each moves the character 50px in the indicated direction. Be quick. You only have 3 seconds to reach the destination and each move takes 0.5s.</div>
<div class="col-md-4">
<div ui-ace="aceOption" ng-model="aceModel"></div>
</div>
<div class="col-md-4">Game goes here <button class="btn btn-danger" ng-click="run()">Run</button><button class="btn btn-danger" ng-click="reRoute()">Reroute</button><br><div id="field"><img id="char" class="char" src="terry.png"><div id="x">x</div></div></div>
</div>
