<h1>Ace Editor</h1>

<div class="row">
  <div class="col-md-4">Notes go here<br>Good job, but you probably didn't enjoy writing the same code over and over again. In this case, a for loop would be a great way to do repeative tasks for you. A for loop takes 3 inputs- an initial variable value, an end point for the loop, and a value to change the variable by each time to make sure the loop reaches the end. <br><br>Fill in the for loops in the editor withe correct values and functions to get you to your destination (150,0) using our moveLeft( ), moveRight( ), moveUp( ), and moveDown( ) functions. Be quick. You only have 3 seconds to reach the destination and each move takes 0.5s.</div>
<div class="col-md-4">
<div ui-ace="aceOption" ng-model="aceModel"></div>
</div>
<div class="col-md-4">Game goes here <button class="btn btn-danger" ng-click="run()">Run</button><button class="btn btn-danger" ng-click="reRoute()">Reroute</button><br><div id="field"><img id="char" class="char" src="terry.png"><div id="x">x</div></div></div>
</div>
